@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #0C0C0C;
}

.cabeçalho {
    height: 100px;
    background: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.cabeçalho-titulo {
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 50px;
}

.titulo1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.titulo2 {
    color: #FF8D06;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cabeçalho-icons {
    height: 50px;
}

.cabeçalho-img {
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.conteudo {
    display: flex;
}

.conteudo-esquerdo {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conteudo-img {
    width: 100px;
    margin-left: 300px;
    margin-top: 65px;

}

.conteudo-paragrafo {
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 230px;
}

.conteudo-paragrafo-tres {
    color: #FF8D06;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.conteudo-paragrafo-strong {
    color: #FF8D06;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.conteudo-direito {
    margin-top: 65px;
    margin-left: 330px;
    width: 300px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(173, 0, 255, 0.78) 0%, #9106C2 49.48%, rgba(85, 22, 218, 0.54) 100%);
    box-shadow: 10px 10px 0px 0px #FF8D06;
}

.form-grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.legenda {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}

.form-strong {
    color: #FF8D06;
}

.form-nome,
.form-email,
.form-tel {
    background-color: #FFF;
    width: 200px;
    height: 30px;
    border: none;
    box-shadow: 4px 5px 4px #000000;
    border-radius: 10px;
    outline: none;
    padding-left: 5px;
}

.form-nome::placeholder,
.form-email::placeholder,
.form-tel::placeholder {
    color: #000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5px;
}

.botao-enviar {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: #FF8D06;
    color: #000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}